*,
*::after,
*::before {
  margin: 0 !important;
  padding: 0 !important;
  box-sizing: border-box !important;
}

:root {
  --brand-500: #ff8000;
  --brand-200: #ff9804;

  --text-color: rgb(31 41 55);

  --green-400: rgb(74 222 128);
  --green-900: rgb(20 83 45);

  --yellow-400: rgb(250 204 21);
  --yellow-900: rgb(113 63 18);

  --gray-400: rgb(156 163 175);
  --gray-900: rgb(17 24 39);

  --red-400: rgb(248 113 113);
  --red-900: rgb(127 29 29);
}

body,
p,
h1,
h2,
h3,
h4,
h5,
h6,
button,
a {
  font-family: "Inter", sans-serif!important;
  color: var(--text-color)!important;
}

li {
  list-style: none !important;
}

a {
  text-decoration: none!important;
}

/* SPACING */

.py-20 {
  padding-top: 5rem /* 80px */!important;
  padding-bottom: 5rem /* 80px */!important;
}

/* SIZES */

.w-0 {
  width: 0!important;
}

.w-40 {
  width: 10rem!important;
}

.w-80 {
  width: 20rem!important; /* 320px */
}

.max-w-80 {
  max-width: 20rem!important; /* 320px */
}

.w-full {
  width: 100%!important;
}

.max-w-0 {
  max-width: 0!important;
}

.min-w-0 {
  min-width: 0!important;
}

.h-full {
  height: 100%!important;
}

/* POSITIONING */

.fixed {
  position: fixed!important;
}

.top-0 {
  top: 0!important;
}
.bottom-0 {
  bottom: 0!important;
}
.left-0 {
  left: 0!important;
}

.left-1\/2 {
  left: 50%!important;
}

.-left-full {
  left: -100%!important;
}

.z-10 {
  z-index: 10!important;
}

.overflow-hidden {
  overflow: hidden!important;
}

/* COLORS */

.bg-brand-500 {
  background-color: var(--brand-500)!important;
}

.bg-brand-200 {
  background-color: var(--brand-200)!important;
}

.hover\:bg-brand-200:hover {
  background-color: var(--brand-200)!important;
}

.bg-green-400 {
  background-color: var(--green-400)!important;
}
.bg-red-400 {
  background-color: var(--red-400)!important;
}
.bg-yellow-400 {
  background-color: var(--yellow-400)!important;
}
.bg-gray-400 {
  background-color: var(--gray-400)!important;
}

.text-green-900 {
  color: var(--green-900)!important;
}
.text-red-900 {
  color: var(--red-900)!important;
}
.text-yellow-900 {
  color: var(--yellow-900)!important;
}
.text-gray-900 {
  color: var(--gray-900)!important;
}

/* TRANSITIONS */

.transition-all {
  transition-property: all!important;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1)!important;
  transition-duration: 1s!important;
}

/* UTILITIES */

.-translate-1\/2 {
  translate: -50%!important;
}

.hidden {
  display: none!important;
}

.rounded-full {
  border-radius: 100%!important;
}

.rounded-md {
  border-radius: 10px!important;
}

.cursor-pointer {
  cursor: pointer!important;
}

.outline-0 {
  outline: 0!important;
}

/* FONTS */

.text-lg {
  font-size: 1.125rem!important;
}
.text-sm {
  font-size: 0.875rem!important;
}

.text-x-sm {
  font-size: 0.75rem!important;
}

/* GRIDS AND FLEX */

.col-span-2 {
  grid-column: span 2 / span 2!important;
}

.grid-cols-3 {
  grid-template-columns: repeat(3, minmax(0, 1fr))!important;
}

/* LG BREAKING POINT */
@media (min-width: 1024px) {
  .lg\:w-80 {
    width: 20rem /* 320px */!important;
  }

  .lg\:max-w-80 {
    max-width: 20rem!important; /* 320px */
  }

  .lg\:hidden {
    display: none!important;
  }

  .lg\:block {
    display: block!important;
  }

  .lg\:left-0 {
    left: 0!important;
  }
}
